<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        {% for img in images %}
        <div>
            <img src="{{img.path}}" alt="" width="800">
        </div>
        <div style="font-size: small;">
            {{img.table}}
        </div>
        {% endfor %}
    </div>
</body>
</html>